@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background: linear-gradient(to bottom, #0B8793, #360033);
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-inter);
}



.typing-demo {
  width: 24ch;
  animation: typing 2s steps(24), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.1); 
}

.color{
  filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 1s ease;
  }
  
  .color:hover{
  filter: grayscale(0%);
  filter: gray;
  filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
  }



  

  .relative {
    perspective: 1000px;
}

.relative div {
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.flip .front {
    transform: rotateY(180deg);
}

.flip .back {
    transform: rotateY(0deg);
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(-180deg);
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}
