@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  background-color: white;
  z-index: 10000;
  border: 2px solid white;
  height: 30px;
  width: 30px;
  transition: all 300ms ease-out;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background: black;
  min-height: 100vh;
  margin: 0;
}




/*typing*/

.typing-demo {
  width: 37ch;
  animation: typing 3s steps(37), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


/*animate pic*/
.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.1); 
}

.color{
  filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 1s ease;
  }
  
  .color:hover{
  filter: grayscale(0%);
  filter: gray;
  filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
  }



/*Card skill*/

  .relative {
    perspective: 1000px;
}

.relative div {
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.flip .front {
    transform: rotateY(180deg);
}

.flip .back {
    transform: rotateY(0deg);
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(-180deg);
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

/*Highlight about*/

.highlight-text {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease-out;
  color: rgb(255, 255, 255); 
}

.highlight-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1; 
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

.highlight-text:hover {
  color: #000000; /* switch color */
}

.highlight-text:hover::before {
  transform: scaleX(1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* bow shadow */
}


@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

html {
  scroll-behavior: smooth;
}


/* animation navbar */
.nav-bar {
    opacity: 0;
    animation: fadeInNav 0.5s forwards;
    animation-delay: 1s; /* Délai de 1 seconde avant que l'animation ne commence */
}

@keyframes fadeInNav {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-item {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInItem 0.8s forwards;
}

@keyframes fadeInItem {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Délais pour l'animation décalée après 1 seconde */
.delay-1 {
    animation-delay: 1.2s;
}

.delay-2 {
    animation-delay: 1.4s;
}

.delay-3 {
    animation-delay: 1.6s;
}

.delay-4 {
    animation-delay: 1.8s;
}


